body{
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
}

.game{
    background-color: rgb(172, 172, 172);
    position: absolute;
    bottom: 100px;
    top: 100px;
    right: 300px;
    left: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

#button{
    position: absolute;
    background-color: lime;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#szar{
    padding-top: 690px;
    left: 50%;
    font-size: 48pt;
}
